In [1]:
import pandas as pd

In [41]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz'

In [42]:
df = pd.read_csv(
        url, sep=',', compression='gzip', low_memory = False
        )

In [43]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-12-01 00:29:37,2020-12-01 00:32:51,N,1.0,75,75,1.0,0.59,4.50,0.5,0.5,1.16,0.0,NaN,0.3,6.96,1.0,1.0,0.00
1,2.0,2020-12-01 00:41:46,2020-12-01 00:46:31,N,1.0,75,74,1.0,1.24,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1.0,1.0,0.00
2,2.0,2020-12-01 00:05:46,2020-12-01 00:10:48,N,1.0,244,243,2.0,1.19,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1.0,1.0,0.00
3,2.0,2020-11-30 23:59:17,2020-12-01 00:16:06,N,1.0,75,68,1.0,5.08,17.00,0.5,0.5,2.00,0.0,NaN,0.3,23.05,1.0,1.0,2.75
4,2.0,2020-12-01 00:57:03,2020-12-01 01:00:29,N,1.0,74,263,1.0,1.24,5.50,0.5,0.5,0.00,0.0,NaN,0.3,9.55,2.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83125,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,NaN,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,NaN,NaN,NaN
83126,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,NaN,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,NaN,NaN,NaN
83127,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,NaN,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,NaN,NaN,NaN
83128,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,NaN,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,NaN,NaN,NaN
83129,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,NaN,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,NaN,NaN,NaN

In [9]:
url2= 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

In [10]:
df2 = pd.read_csv(
        url2, sep=',', compression='gzip',
        )

/var/folders/77/9lf4b4k16jg4bm1mzg6_1tg80000gn/T/ipykernel_48924/1441053798.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [12]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,0.0,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,0.0,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,0.0,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,0.0,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,0.0,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN

In [13]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020'

In [14]:
file_paths = [f'{url}-10.csv.gz', f'{url}-11.csv.gz', f'{url}-12.csv.gz']

In [15]:
file_paths

['https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz',
 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz',
 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz']

In [16]:
dfs = []
taxi_dtypes = {
                    'VendorID': pd.Int64Dtype(),
                    'store_and_fwd_flag':str,
                    'RatecodeID':pd.Int64Dtype(),
                    'PULocationID':pd.Int64Dtype(),
                    'DOLocationID':pd.Int64Dtype(),
                    'passenger_count': pd.Int64Dtype(),
                    'trip_distance': float,
                    'fare_amount': float,
                    'extra':float,
                    'mta_tax':float,
                    'tip_amount':float,
                    'tolls_amount':float,
                    'ehail_fee':float, 
                    'improvement_surcharge':float,
                    'total_amount':float,
                    'payment_type': pd.Int64Dtype(),
                    'trip_type': float,
                    'congestion_surcharge':float
                }
# native date parsing 
parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [17]:
for file_path in file_paths:
    # Read CSV file into a DataFrame and append to the list
        df = pd.read_csv(file_path, sep=',', compression='gzip', dtype=taxi_dtypes, parse_dates=parse_dates)
        dfs.append(df)

In [19]:
len(dfs)

3

In [20]:
final_df = pd.concat(dfs, ignore_index=True)

In [21]:
final_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,<NA>,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
266851,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,<NA>,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
266852,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,<NA>,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
266853,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,<NA>,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
266854,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,<NA>,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN